@charset "UTF-8";

:root {
  --text-primary: #ffffff;
  --text-secondary: #d1d6db;
  --text-highlight: #e0b115;
  --background-primary: #242470;
  --background-secondary: #191624;
  --background-widget: #222030;
  --background-input: #72767a;
  --player-height: 6rem;
  --footer-height: calc(var(--player-height) + 2rem);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.25rem;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

input:focus {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  /* background-color: var(--text-secondary); */
  background-color: var(--background-input);
  border-radius: 0.5rem;
  height: 0.25rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--text-highlight);
  margin-top: -0.35rem;
  border-radius: 9999px;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background-color: var(--text-highlight);
  outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
  background-color: var(--background-input);
  /* background-color: var(--text-secondary); */
  border-radius: 0.5rem;
  height: 0.25rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--text-highlight);
  border: none;
  border-radius: 9999px;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  background-color: var(--text-highlight);
  outline-offset: 0.125rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.music-browser {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, var(--background-secondary), var(--background-primary));
}

.side-nav {
  position: static;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  height: 100%;

  padding: 2.5rem 1rem;
  background-color: var(--background-secondary);

  transition-property: padding, flex, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.side-nav.hidden {
  background-color: transparent;
  padding-right: 0;
}

@media (max-width: 768px) {
  .side-nav {
    position: absolute;
    width: calc(100% - 2rem);
    height: 100%;
    z-index: 5;
    transition-property: none;
  }

  .side-nav.hidden {
    width: 1.5rem;
  }
}

.side-nav .toggle {
  display: flex;
  justify-content: flex-end;
  background: transparent;
  border: none;
  cursor: pointer;
}

.side-nav .toggle .icon {
  fill: var(--text-secondary);
  height: 2rem;
  width: 2rem;
}

.side-nav .logo {
  width: 100%;
  height: 5rem;
  animation: appear 200ms ease-in-out;
}

.side-nav .links {
  margin-top: 1rem;
}

.side-nav .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  animation: appear 200ms ease-in-out;
}

.side-nav.hidden .logo,
.side-nav.hidden .links {
  display: none;
}

.side-nav .item .link {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--text-secondary);
  transition: all 200ms ease-in-out;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-nav .item .link.active {
  font-weight: 750;
  font-size: 1.7rem;
  color: var(--text-highlight);
}

@media (max-width: 768px) {
  .side-nav .item .link {
    font-size: 1.65rem;
    line-height: 2.2rem;
  }

  .side-nav .item .link.active {
    font-size: 1.9rem;
  }
}

.browser-main {
  flex: 5 1 0%;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.browser-center {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100%;
  overflow: auto;
}

@supports (scrollbar-width: none) {
  .browser-center {
    scrollbar-width: none;
  }
}

.browser-center::-webkit-scrollbar {
  display: none;
}

.browser-center::after {
  content: "";
  margin-bottom: var(--footer-height);
}

.search-bar {
  position: sticky;
  top: 2rem;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: row;

  height: 3rem;
  max-width: 20rem;

  background-color: #403c4d80;
  border-radius: 0.3rem;
  transition: all 0.3s ease-out;
}

@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  .search-bar {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
}

.search-bar:focus-within {
  background-color: var(--background-widget);
  max-width: 24rem;
}

@media (max-width: 768px) {
  .search-bar {
    margin-left: 2.25rem;
    max-width: none;
  }

  .search-bar:focus-within {
    max-width: none;
  }
}

.search-bar .icon {
  fill: var(--text-primary);
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.75rem;
}

.search-bar .input {
  width: 100%;
  margin: 0.65rem 0;
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 1.6rem;
  background-color: transparent;
  border-style: none;
  outline-color: transparent;
  color: var(--text-primary);
}

.search-bar .input::placeholder {
  transition: color 0.3s ease-out;
  color: var(--text-primary);
}

.search-bar .input:focus::placeholder {
  color: var(--text-secondary);
}

.routes {
  margin-top: 3rem;
  /* not sure why margin starts negative */
}


.discover,
.search-page,
.top-artists,
.top-songs,
.artist-page,
.song-page {
  display: flex;
  flex-direction: column;
}

.search-page .title,
.top-artists .title,
.top-songs .title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--text-primary);
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.search-page .title .query {
  font-weight: 900;
}

.search-page .results,
.discover .songs,
.top-artists .list,
.top-songs .list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.discover .genres {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.discover .genres .title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--text-primary);
  text-align: left;
}

.discover .genres .options {
  background-color: var(--background-widget);
  color: var(--text-primary);
  font-weight: 450;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 0.5rem;
}

.artist-page .details,
.song-page .details {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  animation: appear 1.25s ease-out;
}

.details .banner {
  width: 100%;
  background-image: linear-gradient(to left, transparent, var(--background-secondary));
  border-radius: 1.5rem;
  display: flex;
  padding: 0 2rem;
  height: 13rem;
  align-items: center;
}

@media (min-width: 640px) {
  .details .banner {
    height: 23rem;
  }
}

.banner .img {
  height: 7rem;
  width: 7rem;
  border-radius: 9999px;
  border-width: 2px;
  /* box-shadow:; */
  object-fit: cover;
  color: var(--text-secondary);
}

.banner .title {
  margin-left: 1.25rem;
}

.banner .title .name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-primary);
}

.banner .title .genres,
.banner .title .artist {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #9ca3af;
  margin-top: 0.5rem;
}

@media (min-width: 640px) {
  .banner .img {
    width: 12rem;
    height: 12rem;
  }

  .banner .title .name {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.artist-page .songs,
.song-page .related {
  display: flex;
  flex-direction: column;
  animation: slide-up 0.75s ease-out;
}

@media (max-width: 768px) {
  .artist-page .songs,
  .song-page .related {
    animation: none;
  }
}

.artist-page .songs .header,
.song-page .related .header {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--text-primary);
}

.artist-page .songs .list,
.song-page .related .list {
  list-style-type: none;
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.song-page .lyrics {
  margin-bottom: 2.5rem;
}

.song-page .lyrics .title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.song-page .lyrics .body {
  margin-top: 1.25rem;
}

.song-page .lyrics .text {
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.top-preview {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  max-width: 350px;
  height: 100%;
  overflow: auto;
  margin-left: 2rem;
}

@supports (scrollbar-width: none) {
  .top-preview {
    scrollbar-width: none;
  }
}

.top-preview::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1536px) {
  .top-preview {
    display: none;
  }
}

.top-preview::before {
  content: "";
  margin-top: 2rem;
}

.top-preview::after {
  content: "";
  margin-bottom: var(--footer-height);
}

.top-preview .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-preview .title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.top-preview .link {
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.top-preview .list {
  align-items: center;
  list-style-type: none;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.top-preview .songs .list {
  gap: 0.75rem;
}

.top-preview .artists .list {
  gap: 1.5rem;
}

.top-preview .songs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-preview .artists {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.top-preview .songs .song-row {
  max-width: 22rem;
}

.top-preview .artists .artist-card {
  width: 210px;
}

.song-player {
  flex: 0 0 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--player-height);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 1.75rem;
  padding-right: 1.75rem;

  border-radius: 1.3rem 1.3rem 0 0;
  animation: slide-up 1s ease-in-out;
  background-color: var(--background-widget);
}

@media (min-width: 768px) {
  .song-player {
    padding-top: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .song-player {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.now-playing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 0;
  overflow: hidden;
  margin-right: 1.5rem;
}

.now-playing .poster {
  display: block;
  height: 5rem;
  width: 5rem;
  flex: 0 0 5rem;
  margin-right: 1rem;
}

.now-playing .poster.active {
  animation: spin 3s linear infinite;
}

.now-playing .img {
  border-radius: 9999px;
  width: 100%;
  color: var(--text-secondary);
}

.now-playing .img.none {
  visibility: hidden;
}

.now-playing .text {
  flex: 1 1 20rem;
  overflow: hidden;
}

.now-playing .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.now-playing .artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-secondary);
}

.playback {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .playback {
    align-items: flex-end;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .controls {
    width: 9rem;
  }
}

@media (min-width: 1024px) {
  .controls {
    width: 12rem;
  }
}

@media (min-width: 1536px) {
  .controls {
    width: 15rem;
  }
}

.controls .play-icon {
  fill: var(--text-primary);
  height: 3rem;
  width: 3rem;
}

.controls .btn-icon[disabled] .play-icon {
  fill: var(--text-secondary);
  fill-opacity: 70%;
}

.controls .prev-icon,
.controls .next-icon {
  fill: var(--text-primary);
  height: 2rem;
  width: 2rem;
}

@media (max-width: 640px) {

  .controls .prev-icon,
  .controls .next-icon {
    display: none;
  }
}

.controls .btn-icon[disabled] .prev-icon,
.controls .btn-icon[disabled] .next-icon {
  fill: var(--text-secondary);
  fill-opacity: 70%;
}


.controls .loop-icon,
.controls .shuffle-icon {
  fill: var(--text-primary);
  display: block;
  height: 1rem;
  width: 1rem;
}

.controls .loop-icon.active {
  fill: var(--text-highlight);
}

.controls .btn-icon[disabled] .loop-icon,
.controls .btn-icon[disabled] .shuffle-icon {
  fill: var(--text-secondary);
  fill-opacity: 70%;
}


@media (max-width: 768px) {

  .controls .btn-icon.loop,
  .controls .btn-icon.shuffle {
    display: none;
  }
}

.seek-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.25rem;
}

@media (max-width: 768px) {
  .seek-bar {
    display: none;
  }
}

.seek-bar .btn-left,
.seek-bar .btn-right {
  cursor: pointer;
  display: none;
  border: none;
  color: var(--text-primary);
  background-color: transparent;
  font-size: 1.5rem;
  vertical-align: middle;
}

@media (min-width: 1536px) {
  .seek-bar .btn-left {
    margin-right: 0.75rem;
    display: block;
  }

  .seek-bar .btn-right {
    margin-left: 0.75rem;
    display: block;
  }
}

.seek-bar .btn-left[disabled],
.seek-bar .btn-right[disabled] {
  color: var(--text-secondary);
  fill-opacity: 70%;
}

.seek-bar .slider {
  width: 12rem;
  height: 0.25rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.seek-bar .btn-left[disabled],
.seek-bar .btn-right[disabled],
.seek-bar .slider[disabled] {
  cursor: default;
}

@media (min-width: 768px) {
  .seek-bar .slider {
    width: 18rem;
  }
}

@media (min-width: 1024px) {
  .seek-bar .slider {
    width: 15rem;
  }
}

@media (min-width: 1280px) {
  .seek-bar .slider {
    width: 20rem;
  }
}

@media (min-width: 1536px) {
  .seek-bar .slider {
    width: 24rem;
    margin: 0 1.5rem;
  }
}

.seek-bar .time {
  color: var(--text-primary);
}

.volume-bar {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  justify-content: flex-end;
  margin-left: 1.5rem;
}

@media (max-width: 1024px) {
  .volume-bar {
    display: none;
  }
}

.volume-bar .icon {
  fill: var(--text-primary);
  height: 1.5rem;
  width: 1.5rem;
  display: inherit;
}

.volume-bar .field {
  height: 0.25rem;
  margin-left: 1rem;
  display: inherit;
}

@media (min-width: 1024px) {
  .volume-bar .field {
    width: 9rem;
  }
}

@media (min-width: 1536px) {
  .volume-bar .field {
    width: 11rem;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(25%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.btn-icon {
  border: none;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.btn-icon[disabled] {
  cursor: default;
}

.loader,
.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  animation: appear 0.5s ease-in-out;
}

.loader .icon {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
}

.loader .title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-primary);
  margin-top: 0.5rem;
}

.error .title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #dc2626;
}

.artist-card,
.song-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 1rem;
  background-color: #ffffff0d;
  border-radius: 0.5rem;
  animation: slide-up 1s ease-in-out;
}

.artist-card {
  transition: background-color 0.3s ease-in;
}

@media (max-width: 640px) {
  .artist-card,
  .song-card {
    width: 320px;
  }
}

.artist-card:hover,
.artist-card:focus-within {
  background-color: #ffffff26;
}

@supports (backdrop-filter: blur(4px)) or (-webkit-backdrop-filter: blur(4px)) {

  .artist-card,
  .song-card {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

.artist-card .img {
  width: 100%;
  border-radius: 0.5rem;
  color: var(--text-secondary);
}

.artist-card .name {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-card .body {
  position: relative;
  width: 100%;
  /* height: 14rem; */
  cursor: pointer;
}

.song-card .btn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  display: flex;
  transition: background-color 0.2s ease-out;
}

.song-card.disabled .btn {
  cursor: default;
}

.song-card:focus-within .btn,
.song-card .body:hover .btn {
  background-color: #13101880;
}

.song-card.active .btn {
  background-color: #131018b3;
}

.song-card .img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  color: var(--text-secondary);
}

.song-card .label {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.song-card .name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-card .artist {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--text-secondary);
  margin-top: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-row {
  --x-padding: 1rem;
  width: calc(100% - 2 * var(--x-padding));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.85rem var(--x-padding);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.song-row.disabled {
  cursor: default;
}

.song-row:focus-within,
.song-row:hover,
.song-row.active {
  background-color: #ffffff1a;
}

.song-row .body {
  /* flex: 1 1 0%; */
  display: flex;
  align-items: center;
}

.song-row .spot {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-primary);
  margin-right: 0.75rem;
}

.song-row .img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  color: var(--text-secondary);
}

.song-row .title {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.75rem;
}

.song-row .name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-primary);
  text-overflow: ellipsis;
}

.song-row .album,
.song-row .artist {
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  text-overflow: ellipsis;
}

.play-icon.browse {
  fill: var(--text-primary);
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.play-icon.empty {
  height: 3rem;
  width: 3rem;
}

.song-card .body .play-icon.browse,
.song-row .play-icon.browse {
  opacity: 0;
  transform: translateY(25%);
  transition: all 0.3s ease-out;
}

.song-card .body:hover .play-icon.browse,
.song-card:focus-within .play-icon.browse,
.song-card.active .play-icon.browse,

.song-row:hover .play-icon.browse,
.song-row:focus-within .play-icon.browse,
.song-row.active .play-icon.browse {
  opacity: 1;
  transform: none;
}
