@charset "UTF-8";

:root {
    --primary-color: #fff;
    --secondary-color: #d1d6db;
}

html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(25%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.music-browser {
    position: relative;
    display: flex;
}

.browser-main {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    /* background-image: linear-gradient(); */
}

.browser-inner {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: calc(100vh - 72px);
    overflow: auto;
    scrollbar-width: none;
}

.browser-inner::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1280px) {
    .browser-inner {
        flex-direction: row;
    }
}

.routes {
    display: flex;
    flex: 1 1 0%;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 10rem;
}

.loader,
.error {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-icon {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
}

.play-icon-browse {
    height: 3rem;
    width: 3rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.loader-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--primary-color);
    margin-top: 0.5rem;
}

.error-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(220 38 38);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 2.5rem 1rem;
    background-color: rgb(25 22 36);
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }
}

.nav-links {
    margin-top: 2.5rem;
}

.nav-icon {
    width: 100%;
    height: 5rem;
    object-fit: contain;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: rgb(156 163 175);
}

.nav-item:hover {
    color: rgb(34 211 238);
}

.nav-item.active {
    color: rgb(6 182 212);
}

.discover,
.search,
.top-artists,
.top-songs,
.artist-page,
.song-page {
    display: flex;
    flex-direction: column;
}

.search-title,
.top-artists-title,
.top-songs-title {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: var(--primary-color);
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.search-songs,
.discover-songs,
.top-artists-list,
.top-songs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 650px) {

    .search-songs,
    .discover-songs,
    .top-artists-list,
    .top-songs-list {
        justify-content: flex-start;
    }
}

.search-query {
    font-weight: 900;
}

.search-bar {
    padding: 0.5rem;
    color: rgb(156 163 175);
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.search-bar:focus-within {
    color: rgb(75 85 99);
}

.search-bar-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.search-bar-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-bar-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 1rem;
}

.search-bar-input {
    flex: 1 1 0%;
    background-color: transparent;
    border-style: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-color);
    padding: 1rem;
}

.search-bar-input::placeholder {
    color: rgb(107 114 128);
}

.artist-card,
.song-card {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 1rem;
    background-color: rgb(255 255 255 / 0.05);
    border-radius: 0.5rem;
    cursor: pointer;
    animation: slide-up 1s ease-in-out;
    /* backdrop-filter: blur(4px); */
}

.artist-card-img {
    width: 100%;
    height: 14rem;
    border-radius: 0.5rem;
}

.artist-card-name {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card-left {
    position: relative;
    width: 100%;
    height: 14rem;
}

.song-card-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgb(25 22 36 / 0.5);
    display: none;
}

.song-card-left:hover .song-card-btn {
    display: flex;
}

.song-card-btn-active {
    display: flex;
    background-color: rgb(25 22 36 / 0.7);
}

.song-card-img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.song-card-right {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.song-card-name {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card-artist {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--secondary-color);
    margin-top: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.discover-genres {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.discover-genres-title {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: var(--primary-color);
    text-align: left;
}

.discover-genres-options {
    background-color: rgb(25 22 36);
    color: var(--secondary-color);
    margin-top: 1.25rem;
    padding: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    margin-top: 1.25rem;
}

@media (min-width: 640px) {
    .discover-genres {
        flex-direction: row;
    }

    .discover-genres-option {
        margin-top: 0px;
    }
}

.artist-details,
.song-details {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.artist-header,
.song-header {
    width: 100%;
    height: 7rem;
    /* background-image: linear-gradient(); */
}

.artist-banner,
.song-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.artist-img,
.song-img {
    height: 7rem;
    width: 7rem;
    border-radius: 9999px;
    border-width: 2px;
    /* box-shadow:; */
    object-fit: cover;
}

.artist-title,
.song-title {
    margin-left: 1.25rem;
}

.artist-title-name,
.song-title-name {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--primary-color);
}

.artist-title-genres,
.song-title-artist,
.song-title-genres {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(156 163 175);
    margin-top: 0.5rem;
}

.artist-footer,
.song-footer {
    width: 100%;
    height: 6rem;
}

@media (min-width: 640px) {

    .artist-header,
    .song-header {
        height: 12rem;
    }

    .artist-img,
    .song-img {
        width: 12rem;
        height: 12rem;
    }

    .artist-title-name,
    .song-title-name {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .artist-footer,
    .song-footer {
        height: 11rem;
    }
}

.artist-songs,
.song-related {
    display: flex;
    flex-direction: column;
}

.artist-songs-header,
.song-related-header {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: var(--primary-color);
}

.artist-songs-list,
.song-related-list {
    list-style-type: none;
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.artist-song-item,
.song-row-item {
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.artist-song-item:hover,
.artist-song-active,
.song-row-item:hover,
.song-row-active {
    background-color: #4c426e;
}

.artist-song-spot,
.song-row-spot {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-color);
    margin-right: 0.75rem;
}

.artist-song-body,
.song-row-body {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.artist-song-img,
.song-row-img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.artist-song-title,
.song-row-title {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    text-overflow: ellipsis;
}

.artist-song-name,
.song-row-name {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--primary-color);
    text-overflow: ellipsis;
}

.artist-song-album,
.song-row-artist {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--secondary-color);
    margin-top: 0.25rem;
}

.song-lyrics {
    margin-bottom: 2.5rem;
}

.song-lyrics-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.song-lyrics-body {
    margin-top: 1.25rem;
}

.song-lyrics-text {
    color: rgb(156 163 175);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.top-preview {
    position: static;
    top: 0;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 5;
}

.top-preview-inner {
    margin-left: 0;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    max-width: 100%;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
}

.top-preview-inner::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1280px) {
    .top-preview {
        position: sticky;
    }

    .top-preview-inner {
        margin-left: 1.5rem;
        margin-bottom: 0;
        max-width: 500px;
    }
}

.top-preview-songs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-preview-songs-header,
.top-preview-artists-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-preview-songs-title,
.top-preview-artists-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.top-preview-songs-link,
.top-preview-artists-link {
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

.top-preview-songs-list,
.top-preview-artists-list {
    list-style-type: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.top-preview-artists {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.song-player {
    display: flex;
    position: absolute;
    height: 7rem;
    bottom: 0;
    left: 0;
    right: 0;
    animation: slide-up 1s ease-in-out;
    z-index: 10;
    border-radius: 0 1.5rem;
    /* background-image: linear-gradient() */
}

.song-player-items {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

@media (min-width: 640px) {
    .song-player-items {
        padding: 0 3rem;
    }
}

.now-playing {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: flex-start;
}

.now-playing-poster {
    display: block;
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}

@media (max-width: 640px) {
    .now-playing-poster {
        display: none;
    }
}

.now-playing-active {
    animation: spin 3s linear infinite;
}

.now-playing-img {
    border-radius: 9999px;
    width: 100%;
}

.now-playing-none {
    visibility: hidden;
}

.now-playing-text {
    width: 50%;
}

.now-playing-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.now-playing-artist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--secondary-color);
}

.playback {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
}

.playback-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .playback-buttons {
        width: 9rem;
    }
}

@media (min-width: 1024px) {
    .playback-buttons {
        width: 13rem;
    }
}

@media (min-width: 1536px) {
    .playback-buttons {
        width: 20rem;
    }
}

.loop-icon,
.shuffle-icon {
    display: block;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}

.shuffle-icon-active {
    color: red;
}

@media (max-width: 640px) {

    .loop-icon,
    .shuffle-icon {
        display: hidden;
    }

    .playback-seek {
        display: hidden;
    }
}

.seek-icon {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}

.play-icon {
    /* fill: white; */
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
}

.playback-seek {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playback-seek-btn-left,
.playback-seek-btn-right {
    display: hidden;
    border: none;
    color: var(--primary-color);
    background-color: transparent;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
    text-align: center;
}

@media (min-width: 1024px) {
    .playback-seek-btn-left {
        margin-right: 1rem;
        display: block;
    }

    .playback-seek-btn-right {
        margin-left: 1rem;
        display: block;
    }
}

.playback-time {
    color: var(--primary-color);
}

.playback-slider {
    width: 5rem;
    height: 0.25rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .playback-slider {
        display: block;
        width: 14rem;
    }
}

@media (min-width: 1536px) {
    .playback-slider {
        width: 24rem;
        margin: 0 1.5rem;
    }
}

.volume-bar {
    display: none;
    flex: 1 1 0%;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width: 1024px) {
    .volume-bar {
        display: flex;
    }
}

.volume-icon {
    /* fill: var(--primary-color); */
    height: 1.5rem;
    width: 1.5rem;
    display: inherit;
}

.volume-field {
    height: 0.25rem;
    margin-left: 1rem;
    display: inherit;
}

@media (min-width: 768px) {
    .volume-field {
        width: 8rem;
    }
}

@media (min-width: 1536px) {
    .volume-field {
        width: 10rem;
    }
}