@charset "UTF-8";

:root {
  --text-primary: #ffffff;
  --text-secondary: #d1d6db;
  --text-highlight: #e0b115;
  --background-primary: #242470;
  --background-secondary: #191624;
  --background-widget: #222030;
  --background-input: #72767a;
  --search-height: 3rem;
  --player-height: 6rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.25rem;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

input:focus {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  /* background-color: var(--text-secondary); */
  background-color: var(--background-input);
  border-radius: 0.5rem;
  height: 0.25rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--text-highlight);
  margin-top: -0.35rem;
  border-radius: 9999px;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background-color: var(--text-highlight);
  outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
  background-color: var(--background-input);
  /* background-color: var(--text-secondary); */
  border-radius: 0.5rem;
  height: 0.25rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--text-highlight);
  border: none;
  border-radius: 9999px;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  background-color: var(--text-highlight);
  outline-offset: 0.125rem;
}

.music-browser {
  /* position: relative; */
  display: flex;
  height: 100%;
  width: 100%;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 240px;
  padding: 2.5rem 1rem;
  background-color: var(--background-secondary);
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

.nav-links {
  margin-top: 1rem;
}

.nav-icon {
  width: 100%;
  height: 5rem;
  object-fit: contain;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-item a {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-secondary);
  transition: all 0.2s ease-in-out;
}

.nav-item a.active {
  font-weight: 750;
  font-size: 1.45rem;
  color: var(--text-highlight);
}

.browser-main {
  flex: 5 1 0%;
  display: flex;
  background-image: linear-gradient(to bottom right, var(--background-secondary), var(--background-primary));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* padding-bottom: calc(var(--player-height) + 1rem); */
}

.search-bar {
  position: absolute;
  top: 2rem;
  z-index: 2;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: var(--search-height);
  width: 100%;
  max-width: 15rem;

  background-color: #403c4d80;
  border-radius: 0.3rem;
  transition: all 0.3s ease-out;
}

@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  .search-bar {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
}

.search-bar:focus-within {
  background-color: var(--background-widget);
  max-width: 20rem;
}

.search-bar-icon {
  fill: var(--text-primary);
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.75rem;
  cursor: pointer;
}

.search-bar-input {
  width: 100%;
  margin: 0.65rem 0;
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 1.6rem;
  background-color: transparent;
  border-style: none;
  outline-color: transparent;
  color: var(--text-primary);
}

.search-bar-input::placeholder {
  transition: color 0.3s ease-out;
  color: var(--text-primary);
}

.search-bar-input:focus::placeholder {
  color: var(--text-secondary);
}

.routes {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  height: 100%;
  overflow: auto;
}

@supports (scrollbar-width: none) {
  .routes {
    scrollbar-width: none;
  }
}

.routes::-webkit-scrollbar {
  display: none;
}

.routes::before {
  content: "";
  margin-top: calc(var(--search-height) + 2.5rem);
}

.routes::after {
  content: "";
  margin-bottom: calc(var(--player-height) + 2.5rem);
}

.discover,
.search-page,
.top-artists,
.top-songs,
.artist-page,
.song-page {
  display: flex;
  flex-direction: column;
}

.search-title,
.top-artists-title,
.top-songs-title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--text-primary);
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.search-results,
.discover-songs,
.top-artists-list,
.top-songs-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

/* @media (max-width: 650px) {

    .search-results,
    .discover-songs,
    .top-artists-list,
    .top-songs-list {
        justify-content: flex-start;
    }
} */

.search-query {
  font-weight: 900;
}

.discover-genres {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.discover-genres-title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--text-primary);
  text-align: left;
}

.discover-genres-select {
  background-color: var(--background-widget);
  color: var(--text-primary);
  font-weight: 450;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 0.5rem;
  margin-top: 1.25rem;
}

@media (min-width: 640px) {
  .discover-genres {
    flex-direction: row;
  }

  .discover-genres-select {
    margin-top: 0px;
  }
}

.artist-details,
.song-details {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  animation: appear 1.25s ease-out;
}

.artist-banner,
.song-banner {
  width: 100%;
  background-image: linear-gradient(to left, transparent, var(--background-secondary));
  border-radius: 1.5rem;
  display: flex;
  padding: 0 2rem;
  height: 13rem;
  align-items: center;
}

@media (min-width: 640px) {

  .artist-banner,
  .song-banner {
    height: 23rem;
  }
}

.artist-img,
.song-img {
  height: 7rem;
  width: 7rem;
  border-radius: 9999px;
  border-width: 2px;
  /* box-shadow:; */
  object-fit: cover;
  color: var(--text-secondary);
}

.artist-title,
.song-title {
  margin-left: 1.25rem;
}

.artist-title-name,
.song-title-name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-primary);
}

.artist-title-genres,
.song-title-artist,
.song-title-genres {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #9ca3af;
  margin-top: 0.5rem;
}

@media (min-width: 640px) {

  .artist-img,
  .song-img {
    width: 12rem;
    height: 12rem;
  }

  .artist-title-name,
  .song-title-name {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.artist-songs,
.song-related {
  display: flex;
  flex-direction: column;
  animation: slide-up 0.75s ease-out;
}

.artist-songs-header,
.song-related-header {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--text-primary);
}

.artist-songs-list,
.song-related-list {
  list-style-type: none;
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.song-lyrics {
  margin-bottom: 2.5rem;
}

.song-lyrics-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.song-lyrics-body {
  margin-top: 1.25rem;
}

.song-lyrics-text {
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.top-preview {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  max-width: 350px;
  height: 100%;
  overflow: auto;
  margin-left: 2rem;
}

@supports (scrollbar-width: none) {
  .top-preview {
    scrollbar-width: none;
  }
}

.top-preview::-webkit-scrollbar {
  display: none;
}

.top-preview::before {
  content: "";
  margin-top: 2rem;
}

.top-preview::after {
  content: "";
  margin-bottom: calc(var(--player-height) + 2.5rem);
}

.top-preview-songs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-preview-songs-header,
.top-preview-artists-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-preview-songs-title,
.top-preview-artists-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.top-preview-songs-link,
.top-preview-artists-link {
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.top-preview-songs-list,
.top-preview-artists-list {
  align-items: center;
  list-style-type: none;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.top-preview-songs-list {
  gap: 0.75rem;
}

.top-preview-artists-list {
  gap: 1.5rem;
}

.top-preview-artists {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.top-preview-songs .song-row {
  max-width: 22rem;
}

.top-preview-artists .artist-card {
  width: 210px;
}

.song-player {
  flex: 0 0 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--player-height);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  padding-top: 0.4rem;
  border-radius: 1.3rem 1.3rem 0 0;

  animation: slide-up 1s ease-in-out;
  /* background-color: #403c4d80; */
  background-color: var(--background-widget);
}

@media (min-width: 640px) {
  .song-player {
    padding: 0 3rem;
    padding-top: 0.5rem;
  }
}

.now-playing {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: flex-start;
}

.now-playing-poster {
  display: block;
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

@media (max-width: 640px) {
  .now-playing-poster {
    display: none;
  }
}

.now-playing-poster.active {
  animation: spin 3s linear infinite;
}

.now-playing-img {
  border-radius: 9999px;
  width: 100%;
  color: var(--text-secondary);
}

.now-playing-img.none {
  visibility: hidden;
}

.now-playing-text {
  width: 50%;
}

.now-playing-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.now-playing-artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-secondary);
}

.playback {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
}

.playback-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .playback-buttons {
    width: 9rem;
  }
}

@media (min-width: 1024px) {
  .playback-buttons {
    width: 12rem;
  }
}

@media (min-width: 1536px) {
  .playback-buttons {
    width: 16rem;
  }
}

.loop-icon,
.shuffle-icon {
  fill: var(--text-primary);
  display: block;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}

.loop-icon.active {
  fill: var(--text-highlight);
}

@media (max-width: 640px) {

  .loop-icon,
  .shuffle-icon {
    display: hidden;
  }

  .playback-seek {
    display: hidden;
  }
}

.seek-icon {
  fill: var(--text-primary);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.play-icon {
  fill: var(--text-primary);
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}

.playback-seek {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.25rem;
}

.playback-seek-btn-left,
.playback-seek-btn-right {
  cursor: pointer;
  display: hidden;
  border: none;

  color: var(--text-primary);
  background-color: transparent;

  font-size: 1.5rem;
  vertical-align: middle;
}

@media (min-width: 1024px) {
  .playback-seek-btn-left {
    margin-right: 0.75rem;
    display: block;
  }

  .playback-seek-btn-right {
    margin-left: 0.75rem;
    display: block;
  }
}

.playback-time {
  color: var(--text-primary);
}

.playback-slider {
  width: 5rem;
  height: 0.25rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .playback-slider {
    display: block;
    width: 14rem;
  }
}

@media (min-width: 1024px) {
  .playback-slider {
    width: 20rem;
  }
}

@media (min-width: 1536px) {
  .playback-slider {
    width: 24rem;
    margin: 0 1.5rem;
  }
}

.volume-bar {
  display: none;
  flex: 1 1 0%;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 1024px) {
  .volume-bar {
    display: flex;
  }
}

.volume-icon {
  fill: var(--text-primary);
  height: 1.5rem;
  width: 1.5rem;
  display: inherit;
}

.volume-field {
  height: 0.25rem;
  width: 100%;
  margin-left: 1rem;
  display: inherit;
}

@media (min-width: 768px) {
  .volume-field {
    width: 8rem;
  }
}

@media (min-width: 1536px) {
  .volume-field {
    width: 10rem;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(25%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn-icon {
  border: none;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.loader,
.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-icon {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
}

.loader-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-primary);
  margin-top: 0.5rem;
}

.error-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #dc2626;
}

.artist-card,
.song-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 1rem;
  background-color: #ffffff0d;
  border-radius: 0.5rem;
  animation: slide-up 1s ease-in-out;
}

.artist-card {
  transition: background-color 0.3s ease-in;
}

.artist-card:hover,
.artist-card:focus-within {
  background-color: #ffffff26;
}

@supports (backdrop-filter: blur(4px)) or (-webkit-backdrop-filter: blur(4px)) {

  .artist-card,
  .song-card {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

.artist-card-img {
  width: 100%;
  /* height: 14rem; */
  border-radius: 0.5rem;
  color: var(--text-secondary);
}

.artist-card-name {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-card-body {
  position: relative;
  width: 100%;
  /* height: 14rem; */
  cursor: pointer;
}

.song-card-btn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  display: flex;
  transition: background-color 0.2s ease-out;
}

.song-card:focus-within .song-card-btn,
.song-card-body:hover .song-card-btn {
  background-color: #13101880;
}

.song-card.active .song-card-btn {
  background-color: #131018b3;
}

.song-card-img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  color: var(--text-secondary);
}

.song-card-label {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.song-card-name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-card-artist {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--text-secondary);
  margin-top: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-row {
  --x-padding: 1rem;
  width: calc(100% - 2 * var(--x-padding));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.85rem var(--x-padding);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.song-row:focus-within,
.song-row:hover,
.song-row.active {
  background-color: #ffffff1a;
}

.song-row-spot {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-primary);
  margin-right: 0.75rem;
}

.song-row-body {
  /* flex: 1 1 0%; */
  display: flex;
  align-items: center;
}

.song-row-img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  color: var(--text-secondary);
}

.song-row-title {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.75rem;
}

.song-row-name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-primary);
  text-overflow: ellipsis;
}

.song-row-album,
.song-row-artist {
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  text-overflow: ellipsis;
}

.play-icon-browse {
  fill: var(--text-primary);
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.song-card-body .play-icon-browse,
.song-row .play-icon-browse {
  opacity: 0;
  transform: translateY(25%);
  transition: all 0.3s ease-out;
}

.song-card:focus-within .play-icon-browse,
.song-card-body:hover .play-icon-browse,
.song-card.active .play-icon-browse,

.song-row:focus-within .play-icon-browse,
.song-row:hover .play-icon-browse,
.song-row.active .play-icon-browse {
  opacity: 1;
  transform: none;
}